version: "3"

services:
  postgres:
    image: postgres:14
    volumes:
      - pgdata:/var/lib/pos–ítgresql/data
    environment:
      POSTGRES_DB: "todo"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
volumes:
  pgdata:
